# generic, github, snapStore, spaces, keygen, bitbucket, s3, custom
PUBLISH_PROVIDER=generic
# GENERIC - public url to the folder where the files will be uploaded
PUBLISH_URL=https://yoursite.com/launcher/
# GITHUB
GH_TOKEN=YOUR_GITHUB
